.listContainer--tab-menu {
  background: #212121;
  justify-content: center;
  overflow-x: scroll;
  flex-wrap: nowrap;
  -ms-overflow-style: none; /* IE and Edge */
  position: fixed;
  top: 62px;
  z-index: 999;
}
.listContainer--tab-menu::-webkit-scrollbar {
  display: none;
}

@media (max-width: 765px) {
  .listContainer--tab-menu {
    overflow-x: scroll;
    flex-wrap: nowrap;
    justify-content: start;
    max-width: 100vw;
  }
}
.listItem {
  margin: 0;
  padding-bottom: 0;
}
.listItem :global(.vtex-button) {
  color: #fff;
}
.listItem :global(.vtex-button):hover,
.listItemActive :global(.vtex-button) {
  color: #59ff00;
  background: transparent;
  border: none;
  border-bottom: 2px solid #59ff00;
  border-radius: 0;
}
